configuration-domain/target/
configuration-infrastructure/target/
configuration-application/target/
configuration-gateway/target/
configuration-api/target/

configuration-presentation/target/
configuration-presentation/src/main/webapp/bower_components/
configuration-presentation/src/main/webapp/node_modules/
configuration-integration/target/
**/.idea/
atlassian-ide-plugin.xml
configuration.iml
/**/src/main/resources/rebel.xml
*.jasper
/**/*.iml
*/nb-configuration.xml
fashionmanger.xml
configuration-application/br.com.codein.configuration.domain.model.*/
configuration-application/br.com.codein.buddyperson.domain.*/
**/*.xml.*